.addPostContainer {
  max-width: 768px;
  margin: 30px auto;
}

.subtitleInput {
  max-width: 300px;
}

.descriptionInput {
  padding-bottom: 100px;
}

.contentInput {
  padding-bottom: 200px;
}

.addPostTitle {
  padding: 10px 0;
}