.titleContainer {
  display: flex;
  flex-direction: row;
  max-width: 668px;
  margin: 20px auto;
}

.buttonContainer {
  margin-left: auto;
}

.button {
  margin: 5px;
  padding: 8px 15px;
}

.postTitle {
  margin-bottom: 20px;
}